<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button
    ion-button
    block
    color="primary"
    (click)="selectImage()">Select an Image
  </button>
  <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="handleCropping($event)"></img-cropper>
  <div *ngIf="data.image">
    <img [src]="data.image" [width]="croppedWidth" [height]="croppedHeight">
  </div>

  <button
    *ngIf="canSave" ion-button block color="secondary" (click)="saveImage()">Save Image </button>


</ion-content>
